# dependencies
/node_modules
node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
.next
.next/
/.next/
/out/
out/

# production
/build
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Rust / Cargo
debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/
